/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
.os2intra-mapping-fieldset .fieldset-wrapper .form-wrapper div {
  display: inline-block;
}
.os2intra-mapping-fieldset .fieldset-wrapper .form-wrapper {
  border: none;
}
.os2intra-mapping-fieldset .fieldset-wrapper .form-wrapper div label {
  position: absolute;
}
.os2intra-mapping-fieldset .fieldset-wrapper .form-wrapper .form-select {
 margin-top:  35px;
}
.os2intra-mapping-fieldset .fieldset-wrapper .form-wrapper {
  margin: 0;
  padding: 0 12px;
}